@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body {
	font-family: 'Karla', sans-serif;
	background-color: #3c3d47;
	color: #dcdcdc;
}

h1 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 55px;
    margin: 60px 0 0;
    color: #f66767;
	letter-spacing: 5px;
	text-align: center;
}
.box {
    display: flex;
    margin: 40px 150px 0;
}


.output {
    margin-left: 50px;
	padding: 1px 3px;
    border: 2.5px solid #dcdcdc;
	display: block;
    overflow: auto;
    font-size: 18px;
    flex-grow: 1;
    height: 70vh;
}

.button {
    border: 2.5px solid #dcdcdc;
    border-radius: 10px;
    color: #dcdcdc;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 75px;
    text-align: center;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.2s ease 0s;
}

.button:link, .button:visited, .button:active {
    color: #dcdcdc;
}

.button, .button:link, .button:visited {
    text-decoration: none;
}

.button:hover {
    border: 2.5px solid #f66767;
    color: #f66767;
    background-color: #3c3d47;
    transition: all 0.2s ease 0s;
}



a > i.back {
    font-size: 100px;
    color: #f66767;
    position: absolute;
    /* left: 50px; */
    left: 3%;
    top: 50px;
    transition: 0.3s;
    transform: translate(-3px, -18px);
    padding: 0 32px;
}

a > i.back:hover {
    transition: 0.3s;
    color: #f6676780;
	transform: translate(-7px, -18px);
}