<!DOCTYPE html>
<html>

<head>
  <title>sqlmap GUI</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/attack.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

  <body>
    <a href="/"><i class="fa fa-angle-left back"></i></a>

    <div class="main-content">
      <h1>Attack setting!</h1>
      <hr />

      <div class="tab">
        <button class="tablinks active" onclick="opentab(event, 'Verbosity')">Verbosity</button>
        <button class="tablinks" onclick="opentab(event, 'Target')">Target</button>
        <button class="tablinks" onclick="opentab(event, 'Request')">Request</button>
        <button class="tablinks" onclick="opentab(event, 'Optimization')">Optimization</button>
        <button class="tablinks" onclick="opentab(event, 'Injection')">Injection</button>
        <button class="tablinks" onclick="opentab(event, 'Detection')">Detection</button>
        <button class="tablinks" onclick="opentab(event, 'Techniques')">Techniques</button>
        <button class="tablinks" onclick="opentab(event, 'Fingerprint')">Fingerprint</button>
        <button class="tablinks" onclick="opentab(event, 'Enumeration')">Enumeration</button>
        <button class="tablinks" onclick="opentab(event, 'Brute-Force')">Brute Force</button>
        <button class="tablinks" onclick="opentab(event, 'User-Defined-Function-Injection')">User-Defined Function
          Injection</button>
        <button class="tablinks" onclick="opentab(event, 'File-System-Access')">File System Access</button>
        <button class="tablinks" onclick="opentab(event, 'Operating-System-Access')">Operating System Access</button>
        <button class="tablinks" onclick="opentab(event, 'Windows-Registry-Access')">Windows Registry Access</button>
        <button class="tablinks" onclick="opentab(event, 'General')">General</button>
        <button class="tablinks" onclick="opentab(event, 'Miscellaneous')">Miscellaneous</button>
      </div>

      <section class="tabcontent Verbosity">
        <h2>Choose your verbosity</h2>
        <select id="verbosity" onchange="generateCmd()">
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </section>

      <div class="target-in"></div>

      <script type="module" src="static/js/insert_options.js"></script>
    </div>
    
    <div class="right-content">
      <div class="wrapper">
        <div class="search">
          <p>Search related description</p>
          <div>
            <input type="text" onkeyup="search(this)"/>
            <div id="search_result"></div>
          </div>
        </div>

        <div class="final-command">
          <p>Corresponding parameters</p>
          <div id="final_cmd">final string</div>
        </div>
  
        <div class="button" id="attack" onclick="collectData()">Attack</div>
        <div class="button" id="save">Save</div>

        <div class="final-output">
          <p>Output</p>
          <div id="final_output">
             The final output will be shown here.
          </div>
        </div>
      </div>
    </div>

    <script>
      function search(e) {
        var keyword = e.value.trim();
        if(keyword.length > 0) {
          var tab = document.getElementsByClassName("tablinks");
          var sections = document.getElementsByClassName("tabcontent");
          var section_length = sections.length;
          var options, cnt, search_result = "";
          
          for(i = 0; i < section_length; i++) {
            cnt = 0;
            options = sections[i].getElementsByClassName("option-text")
            for(j = 0; j < options.length; j++) {
              if(options[j].textContent.includes(keyword)) {
                cnt += 1;
              }
            }
            if(cnt > 0) {
              search_result += tab[i].textContent + " " + cnt.toString() + "<br/>";
            }
          }
          document.getElementById("search_result").innerHTML = search_result;
        }
        else {
          document.getElementById("search_result").textContent = "";
        }
      }

      function generateCmd() {

        var request_tab = document.getElementsByClassName("tablinks")[2];
        var sections = document.getElementsByClassName("tabcontent");
        var section_length = sections.length;

        var checkboxes, size;

        var input_text, option, text;

        var cmd = "";
        cmd += " -v " + document.getElementById("verbosity").value;

        for(i = 1; i < section_length; i++) {
          checkboxes = sections[i].getElementsByClassName("checkbox");
          size = checkboxes.length;

          if(i == 2 && request_tab.disabled) {
            continue;
          }

          for(j = 0; j < size; j++) {
            if(checkboxes[j].checked == true) {
              input_text = checkboxes[j].nextElementSibling.nextElementSibling;
              option = checkboxes[j].id.slice(0, -3);
              if(option.length == 1) {
                cmd += " -" + option;
              }
              else {
                cmd += " --" + option;
              }
              if(input_text != null) {
                text = input_text.children[0].value;
                if(option.length == 1) {
                  cmd += " \"" + text + "\"";
                }
                else {
                  cmd += "=\"" + text + "\"";
                }
              }
            }
          }
        }

        document.getElementById("final_cmd").textContent = cmd;
      }

      function showInput(e) {
        var input_text = e.nextElementSibling.nextElementSibling;

        if(e.checked == true) {
          input_text.style.display = "block";
          input_text.children[0].focus();
        }
        else {
          input_text.style.display = "none";
          input_text.children[1].style.display = "none";
        }
      }

      function checkRequired(e) {
        if(e.value == "") {
          e.nextElementSibling.style.display = "inline-block";
        }
        else {
          e.nextElementSibling.style.display = "none";
        }
      }

      function collectData() {
        alert("Send data to backend");
      }

      function opentab(evt, TabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for(i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for(i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementsByClassName(TabName)[0].style.display = "block";
        evt.currentTarget.className += " active";
      }

      function checkTab() {
        if(document.getElementById("u-cb").checked) {
            document.getElementsByClassName("tablinks")[2].disabled = false;
        }
        else {
            document.getElementsByClassName("tablinks")[2].disabled = true;
        }
      }

      generateCmd();

    </script>
  </body>
  <script src="static/js/home.js"></script>

</html>