<!DOCTYPE html>
<html>
  <head>
    <title>sqlmap GUI</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="content">
      <h1>Welcome to sqlmap GUI</h1>
      <a href="info" class="button">Show Infos</a>
      <a href="command" class="button">Injection</a>
    </div>
  </body>
  <script type="module" src="static/js/home.js"></script>
</html>
